/* ---------- Body ---------- */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* ---------- HEADER ---------- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #292929;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  z-index: 1000;
}

.inner_header {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_header h1 {
  color: #fff;
  max-width: 300px;
  margin-right: 20%;
}

.logo_container img {
  height: 70px;
}

/* Navigasjon */
.navigation {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.navigation li a:hover {
  background: #2e1eb9;
  color: #fff;
}

/* ---------- BANNER ---------- */
.banner {
  width: 100%;
  height: 400px;
  background: url("Bilder/BergenBakgrunn.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 80px;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.03);
}

.banner_text {
  position: relative;
  color: #fff;
  text-align: center;
}

.banner_text h1 {
  font-size: 3em;
  margin: 0;
}

.banner_text p {
  font-size: 1.5em;
}

/* ---------- HOVEDINNHOLD ---------- */
.content {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}


.left-boxes {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-column: 1;
}


aside,
article {
  grid-column: 2;
  padding: 30px;
  border-radius: 10px;
  font-weight: bold;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transition: background-color 0.3s;
  border-left: 4px solid #006699;
}

article {
  margin-left: 100px;
}

aside:hover,
article:hover {
  background: rgba(87, 85, 85, 0.1);
}

/* ---------- FOOTER ---------- */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
}