
/* ---------- Body ---------- */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* ---------- HEADER ---------- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding: 5px 0px;
}

.inner_header {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.inner_header h1 {
  color: white;
  max-width: 300px;
  margin-right: 20%;
}

.logo_container img {
  height: 70px;
}

.navigation {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.navigation li a:hover {
  background-color: #2e1eb9;
  color: white;
}


/* ---------- MAIN CONTENT ---------- */


.content {
    flex-direction: column;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 40px 0px;
}

.content .h1{
    text-align: center;
  display: auto;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.content p{
  text-align: left;
  display: block;
  gap: 20px;
  max-width: 600px;
  
}



main {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

main h3 {
  color: #006699;
  margin-bottom: 10px;
}

main ul {
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 20px;
}

.tekstvisning {
  background: #eef6fa;
  border-left: 4px solid #006699;
  padding: 15px;
  border-radius: 8px;
}


.tekstunder p{
  font-style: italic;
  text-align: left;
  color: #000;
  text-align: center;
  
}

.tekstunder img {
    width: 80%;            
  height: 300px;          
  object-fit: cover;      
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

/* ---------- FOOTER ---------- */

footer {
    
  background: #222;
  color: white;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
}