/* ---------- Body ---------- */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}
        header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding: 5px 0;
}

.inner_header {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_header h1 {
  color: white;
  max-width: 300px;
  margin-right: 20%;
}

.logo_container img {
  height: 70px;
}

.navigation {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.navigation li a:hover {
  background-color: #2e1eb9;
  color: white;
}


        main {
            display: flex;
            flex-wrap: wrap;
            padding: 200px 0px;
            max-width: 1000px;
            margin: 0 auto;
            gap: 30px;
        }

        .venstre {
            flex: 2;
            min-width: 300px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.05);
        }

        .hoyre {
            flex: 2;
            min-width: 250px;
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h2 {
            margin-top: 20px;
        }

        table {
           box-shadow: 0 2px 6px rgba(0,0,0,0.1);
            width: 100%;
            border-collapse: separate;
            margin-top: 10px;
             border-radius: 8px;
                overflow: hidden;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #3584c4;
            color: white;
        }

        .tekstvisning {
            background-color: #f8f8f8;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            white-space: pre-line;
        }

        footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
}